.search > input {
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  position: relative;
  padding-left: 15px;
}

.search > input::placeholder {
  padding-bottom: 15px;
}
